*{
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    color: white;
    text-shadow: 2px 2px black; 

}




section{
    width: 90%;
    margin: auto;
}


body{
    background-image: url("imgs/202760-918944267_tiny.jpg");
    background-size: contain;
    backdrop-filter: blur(10px);

}

.exibicao{
    background-color:  #2d473b;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
}

#introducao{
    color: white;
    text-shadow: 2px 2px black;
   
    
}

#introducao> h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
    
}

#introducao> h3{
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

#introducao>p{
    font-size: 20px;
}

#imgs-inicio-corinthians{
    display: flex;
    gap: 0px;
    justify-content: space-around;
    
}

#imgs-inicio-corinthians>img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    border-radius: 40px;
}

li{
    margin-bottom: 10px;
    margin-left: 16px;
}

li>a{
    font-size: 20px;
}

#elenco{
    margin-bottom: 30px;
}

section#elenco>h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}

div#jogadores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;    
    
}

#img-jogadores{
    display: flex;
    gap: 15px;
    justify-content: center;

}

#img-jogadores> *{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


#torcida> *{
    text-align: center;
}

#torcida>h2{
    font-size: 36px;
    margin-bottom: 30px;
}

#torcida>h3{
    font-size: 28px;
    margin-bottom: 30px;
}

#torcida>p{
    font-size: 20px;
    margin-bottom: 25px
}



#torcida>div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#torcida>div>img{
    width: 350px;
    border-radius: 20px;
}


#redes-sociais{
    text-align: center;
    margin-bottom: 30px;
}

#redes-sociais>h2{
    font-size: 29px;
    margin-bottom: 15px;

}

#redes-sociais>p{
    font-size: 20px;
    margin-bottom: 15px;
}

#redes-sociais>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#redes-sociais>div>a>img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}