*{ 
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    color: white;
    text-shadow: 2px 2px black; 
}

body{
    background-image: url("imgs/202760-918944267_tiny.jpg");
    background-size: contain;
    backdrop-filter: blur(10px);

}

section {
    background-color: #2d473b;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h2 {
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 2.5rem;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

p {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #ffffff;
}

h3 {
    color: #ffffff;
    font-size: 1.8rem;
    margin-bottom: 15px;
    text-align: center;
}
ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
    font-size: 1rem;
}

section {
    background-color: #2d473b;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}